<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home">
                <img style="width: 80px; height: 80px;" src="../../assets/images/homepic.png" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/home">HOME</a>
                </li>
                <li>
                    <a routerLink="/countries">Countries</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home">
                <img class="logo" src=".\assets\images\logo.png" />
            </a>
            <ul class="nav navbar-nav  navbar-right navbar-btn ">
                <li>
                    <a routerLink="/home">HOME</a>
                </li>
                <li>
                    <a routerLink="/pgn">PGN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->


<!--HOME


  PAGE-->