<div style="padding-top: 150px">

  <h1>Please Search for a country</h1>
  <h3><b>The search is case sensative</b></h3>
<div style=" display: inline-block; padding: 20px;">
   <b> <input id="inputText" type="text" placeholder="Search for a country of capital.." [(ngModel)]="srchInput" style="width: 300px"/>   </b>  
    
    

</div>

  <table class="mytable">
    <tr>
      <th>Country</th>
      <th>Native Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Flag</th>
    </tr>
    <tr *ngFor="let x of localCountriesDetails.allinfo ,let j=index">
      <td *ngIf="x.name.indexOf(srchInput)>=0|| x.capital.indexOf(srchInput)>=0"> {{x.name}} </td>

      <td *ngIf="x.name.indexOf(srchInput)>=0|| x.capital.indexOf(srchInput)>=0">{{x.nativeName}}</td>

      <td *ngIf="x.name.indexOf(srchInput)>=0|| x.capital.indexOf(srchInput)>=0">{{x.capital}}</td>

      <td *ngIf="x.name.indexOf(srchInput)>=0|| x.capital.indexOf(srchInput)>=0">{{x.population}}</td>

      <td *ngIf="x.name.indexOf(srchInput)>=0|| x.capital.indexOf(srchInput)>=0">
          <img style="width: 80px; height: 50px; " src="{{x.flag}}">
     </td>

    </tr>
  </table>

  
</div>  
