<div id="band" class="container text-center" style="padding-top: 150px; min-height: 600px; ">
    <h2>Welcom to Ori's Angular Site</h2>
    <p>
        <em>Please test my Site</em>
    </p>
    <p>You are welocme to navigate to countries tab and search for countries info

           
    </p>
    <br>
    <img style="width: 100%; height: 100%;" src= "../../assets/images/backhomepic.png" />

    <br>
</div>


<!--HOME PAGE
 <div id="main-container">
  <div id="band" class="container text-center">
      <h1>Welcome to our Book Store</h1>
    
  </div>
</div>-->